#navbarNavDropdown .nav-link{
  font-family: var(--main-theme-font); 
  font-size: 1.3rem;
  color:#ffffff
}

#navbarNavDropdown .nav-link:hover{
  color:var(--main-theme-color); 
  border-bottom:0.1rem solid var(--main-theme-color); 
}
/* 
.nav-link:{
  color:var(--main-theme-color); 
  border-bottom:0.2rem solid var(--main-theme-color); 
} */

.navbar-light .navbar-brand{
  font-family: var(--main-theme-font); 
  font-size: 1.5rem;
  color:var(--main-theme-color); 
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.navbar-brand{
  border:0.2rem solid var(--main-theme-color); 
  padding: 0.3rem;
  border-radius: 10px;
  background: #ffffff;
}

p.ex1 {
    min-height: 200px;
  }

  .jumbotron-fluid{
    border-bottom: 0.5rem solid var(--main-theme-color);
  }

  .page-title{
    background-color: #ffffff;
    font-weight: 400;
    font-size: 2rem;
    font-family:var(--main-theme-font); 
  }

  .save-feedback{
    font-size: 0.9rem;
  }

  .user-form .nav{
    background: var(--main-theme-color);
    color:#ffffff;
}

.user-form .nav-link{
  color:#ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}