:root {
    /* font-size: 16px; */
    --main-theme-color: rgb(6, 156, 6);
    --main-theme-font: 'Bree Serif', serif;
    /* --main-theme-color: #EE6201;   */
}

body{
    background-color: rgb(244, 247, 245);
}

.category-div .card-img-top{
    height:15rem;
}

.recipe-div .card-img-top{
    height:21rem;
}

.recipe-div .card-img-top:hover{
    opacity: 0.9;
    border:0.3rem solid var(--main-theme-color); 
    cursor: pointer;
}

.recipe-detail-div .card-img-top{
    height:30rem;
}

.display-4{
    font-size:2.5rem;
}

.list-group-item{
    border:none;
}



.category-title, .recipe-title, .card-title{
    font-family:var(--main-theme-font); 
    color:var(--main-theme-color); 
}

.category-div:hover{

    
}

.media .img-fluid{
    max-width: 10rem;
}

.alert{
    font-weight:bold;
}

.home-page-cards{
    cursor: pointer;
    transition: all 0.7s ease;  
}


.page-links, .home-page-icons {
    opacity:0;
    color:#ffffff;
  
}

.home-page-icons {
    font-size: 3rem;
}


.home-page-cards:hover .card-img {
    opacity: 0.1;
}

.home-page-cards:hover .page-links {
    opacity:1;
}

.home-page-cards:hover .home-page-icons {
    opacity:1;
}

.home-title{
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: var(--main-theme-color);
    font-family: var(--main-theme-font); 
    z-index: 1;
    position: relative;
}

.home-text{
    /* padding: 1rem; */
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: var(--main-theme-color);
    font-family: var(--main-theme-font); 
    z-index: 1;
    position: relative;
}


/* .card-img:hover{
    opacity: 0.1;
} */

/* .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
      background-image: url(../../../images/backgrounds/bg1.jpg); 
    }
    .slideshow li:nth-child(2) { 
      background-image: url(../../../images/backgrounds/bg2.jpg);
      animation-delay: 10s; 
    }
    .slideshow li:nth-child(3) { 
      background-image: url(../../../images/backgrounds/bg3.jpg);
      animation-delay: 20s; 
    }
    .slideshow li:nth-child(4) { 
      background-image: url(../../../images/backgrounds/bg4.jpg) ;
      animation-delay: 30s; 
    }
    .slideshow li:nth-child(5) { 
      background-image: url(../../../images/backgrounds/bg5.jpg);
      animation-delay: 40s; 
    }
  
    @keyframes imageAnimation { 
      0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
      }
      10% {
        opacity: 1;
        animation-timing-function: ease-out;
      }
      20% {
        opacity: 1
      }
      30% {
        opacity: 0
      }
    }
  
    /* Older browser support - .no-cssanimations class added by modernizr */
  /* .no-cssanimations .slideshow li {
      opacity: 1;
  } */ 

  .pusher{
      height:30rem;
  }

  .items-container{
    min-height: 30rem;
}