.items-container{
    min-height: 30rem;
}

.recipe-detail-div .card-img-top{
    height:30rem;
}

.list-group-item{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-decoration-style: none;
}

ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color:rgb(1, 29, 1);
  }
.card-img:hover{
    cursor: pointer;

}

.youtube:hover{
    cursor: pointer;
}

.fa-check-square{
    margin-right: 2rem;
    font-size: 1.2rem;
    color:var(--main-theme-color); 
}
