.items-container{
    min-height: 30rem;
}

.recipe-detail-div .card-img-top{
    max-height:40rem;
}

.button-div{
   margin-top: 0.5rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   display:flex;
}

.button-div .btn{
    margin: 0.2rem 0.2rem;
    font-family:var(--main-theme-font); 
}

.button-div .btn-link:hover{
    text-decoration: none;
}

.list-group-item{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-decoration-style: none;
}


ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.08rem;
    color:rgb(1, 29, 1);
    padding: 0;
  }
.card-img:hover{
    cursor: pointer;
}

.youtube:hover{
    cursor: pointer;
}

.fa-check-square{
    margin-right: 2rem;
    font-size: 1.2rem;
    color:var(--main-theme-color); 
}

.instruction-div{
    border-left:0.5rem solid var(--main-theme-color); ;
}

hr{
    margin-top:0.5rem;
    margin-bottom:0;
}

.list-group-flush .list-group-item{
    font-style: italic;
    font-weight: 500;
}

.list-group-flush .list-group-item:nth-child(2n){
	background: rgb(238, 247, 234);
}


@media(max-width:750px){
    .ingredient-header{
        margin-top: 1rem;
    }    
}


