.items-container{
    min-height: 30rem;
}

.category-div .card-img-top{
    height:15rem;
}

.category-div .card-img-top:hover{
    opacity: 0.9;
    border:0.2rem solid var(--main-theme-color); 
    cursor: pointer;
}


